.Table {
  &-Header,
  &-Body {
    display: block;
    text-align: center;
  }
  &-Body {
    overflow: auto;
  }
  &-Row {
    width: 200px;
    display: block;
  }
  &-Heading,
  &-Cell {
    width: 75px;
  }
}
